#menu, #menu li {
    margin: 0;
    padding: 0;
}

#menu {
    text-align: center;
}

#menu li {
    display: inline-block;
    text-align: center;
    width: 20%; /* задаем размер пункта можно в пикселях*/
}

#menu a {
    display: block;
    padding: 5px 15px;
    color: #fff;
    font-size: 150%;
    text-decoration: none;
    background: #03658e;
    margin-right: 5px; /* добавляем отступы между пунктами */
}

#menu a:hover {
    background: #8AB8CC;
}